CompileFlags:
  Add:
    - "-IE:/Projects/Weird/TOS/src/intf"

Diagnostics:
  Suppress:
  - Wunused-includes
  - Wunused-variable
  - Wpointer-to-int-cast
  - Wint-to-void-pointer-cast
  - Wdiscarded-qualifiers
