CompileFlags:
  Add:
    - "-IE:/Projects/Weird/TOS/kernel"
    - "-IE:/Projects/Weird/TOS/userspace"
    - "-IE:/Projects/Weird/TOS/userspace/include"
    - "-IE:/Projects/Weird/TOS/userspace/lib"
    - "-IE:/Projects/Weird/TOS/userspace/lib/libc"
    - "-IE:/Projects/Weird/TOS/userspace/lib/libc/musl"
    - "-IE:/Projects/Weird/TOS/userspace/lib/libc/musl-1.2.6/include"

Diagnostics:
  Suppress:
    - Wunused-includes
    - Wunused-variable
    - Wpointer-to-int-cast
    - Wint-to-void-pointer-cast
    - Wdiscarded-qualifiers

---

If:
  PathMatch: ".*\\.(c|h)$"

CompileFlags:
  Remove:
    - "-x"
    - "-std=*"
  Add:
    - "-xc"
    - "-std=gnu23"
    - "-ffreestanding"
