CompileFlags:
  Add:
    - "-I./kernel"
    - "-I./userspace"
    - "-I./userspace/libc/musl-1.2.6/include/"
    - "-I./userspace/libc/musl-1.2.6/arch/x86_64"
    - "-ferror-limit=0"
  CompilationDatabase: build

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - Wunused-variable
    - Wpointer-to-int-cast
    - Wint-to-void-pointer-cast
    - Wunknown-pragmas
    - Wdiscarded-qualifiers
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - portability-*
    Remove:
      - bugprone-easily-swappable-parameters
      - bugprone-reserved-identifier
      - performance-no-int-to-ptr

---
If:
  PathMatch: ".*\\.(c|h)$"

CompileFlags:
  Remove:
    - "-x"
    - "-std=*"
  Add:
    - "-xc"
    - "-std=gnu23"
    - "-ffreestanding"

---
If:
  PathMatch: .*/kernel/.*
CompileFlags:
  Add:
    - "-mno-red-zone"
    - "-mcmodel=kernel"
