CompileFlags:
  # Do not duplicate musl's include order here.  The compile database chooses
  # musl or the legacy libc per translation unit.
  CompilationDatabase: ../build

Diagnostics:
  Suppress:
    -Wimplicit-function-declaration
